### VSCode ###
**/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/secrets

### Terraform ###
**/.terraform
*/.terraform
*/.tfstate
*/.tfplan
*.backup
*.plan

### OTHER ###
/temp
**/*/plugins/*
.DS_Store
tools/**/local-*
tools/install/temp
tools/install/users.csv
.env
*.log
